
#getAll,#getDetail,#getstaff,#getscase{
  width: 100%;
  height:618px;
  background: #FFFFFF;
  box-shadow: 0 3px 11px 0 #E1E2E9;
  border: 1px solid #EEF1F9;
  .getTop{
    width: 100%;
    height:50px;
    background: #FFFFFF;
   /* border: 1px solid #EEF1F9;*/
    border-bottom: 1px solid #EEF1F9;
    .everyUl{
      padding-left: 20px;
      padding-right: 15px;
      li{
        height:50px;
        float: left;
        line-height: 50px;
      };
      .csgl{
        //font-family: PingFangSC-Regular;
        font-size: 15px;
        color: #333333;
        width:15% ;


      }
      .chustart,.rustart{
        width: 33%;
        .chub{
          //font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #333;
          width: 25%;
        };
        .WZ{
          display: inline-block;
        }
       /* .WZ{
          float: left;
          !*display: inline-block;*!
        }*/
        .inputDiv{
          //border: 1px solid #ECECEC;
          position: relative;
          border-radius: 1.4px;
          height: 28px;
          line-height: 28px;
          //width:28%;
          .input-wrapper{
            //width: 100%;
            border: 1px solid #ECECEC;
          }
        }

      }
      /*.chustart{
        margin-left: 40px;
      }*/
      .check{
        width: 5%;
        .check1{
          //margin-left: 40px;
          width: 100%;
          /*height: 30px;*/
          height: 55%;
          border: 0;
          /*color: #fff;
          font-size: 14px;*/
          cursor: pointer;
          background: #03BBFF;
          border-radius: 2px;
          //font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #FFFFFF;

        }


      }
      .download{
        text-align: center;
        margin-left: 3%;
        width:10%;
        //font-family: PingFangSC-Light;
        font-size: 12px;
        color: #03BBFF;
        background: url(../../assets/images/xiazai.png) no-repeat 25% 55%;
        cursor:pointer;
      }


    }

  };
  .choices{
    width: 100%;
    height:50px;
    line-height: 50px;
    padding-left: 1.6%;
   /* border: 1px solid #EEF1F9;
    border-top: 0 solid #EEF1F9;*/
    //border-bottom: 1px solid #EEF1F9;
   /* .companyp{
      padding-left: 20px;
    }*/
    .companyp,.stagep,.channelp,.productp,.YearOldp{
      //font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #333333;
      //margin-right: 10px;

      option{
        text-align: center;
      };
    };
    .company,.stage,.channel,.product,.YearOld{
        width: 16%;
        height: 50%;
        padding: 0 2% 0 1%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(../../assets/images/downs.png) no-repeat 95% 55%;
        border: 1px solid #D4D4D4;
        border-radius: 2px;
        option{text-align: center;
          //font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #666666;
        };

    };
    /*.company,.stage,.channel{
        margin-right: 50px;
    }*/

  };
  .choices1{
    width: 100%;
    height:50px;
    line-height: 50px;
    padding-left: 1.6%;
    border-bottom: 1px solid #EEF1F9;
    .YearOldp,.OverdueTypep,.OverdueTimesp,.peoplep{
      //font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #333333;
      //margin-right: 10px;

      option{
        text-align: center;
      };
    };
    .YearOld,.OverdueType,.OverdueTimes{
      width: 16%;
      height: 50%;
      padding: 0 2% 0 1%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(../../assets/images/downs.png) no-repeat 95% 55%;
      border: 1px solid #D4D4D4;
      border-radius: 2px;
      option{text-align: center;
        //font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #666666;
      };

    };
    .people{
      width: 13.5%;
      height: 50%;
      padding: 0 0.2% 0 0.2%;
    }
  };
  .choices2{
    width: 100%;
    height:50px;
    line-height: 50px;
    padding-left: 1.6%;
    border-bottom: 1px solid #EEF1F9;
    .YearOldp,.OverdueTypep,.OverdueTimesp,.peoplep{
      //font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #333333;
      //margin-right: 10px;

      option{
        text-align: center;
      };
    };
    .YearOld,.OverdueType,.OverdueTimes{
      width: 10%;
      height: 50%;
      padding: 0 2% 0 1%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(../../assets/images/downs.png) no-repeat 95% 55%;
      border: 1px solid #D4D4D4;
      border-radius: 2px;
      option{text-align: center;
        //font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #666666;
      };

    };
    .people{
      width: 12%;
      height: 50%;
      padding: 0 0.2% 0 0.2%;
    }
    /*.company,.stage,.channel{
        margin-right: 50px;
    }*/

  };
  .cuishoubg{
      width: 150%;

      .cuishoubt{
        height: 50px;
        width: 100%;
        background: #F9FAFD;
        border-bottom: 1px solid #EEF1F9;
      };
    tr th{
      border: 1px solid #EEF1F9;
      //font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #333;
      height: 30px;
    };
    tr td{
      border-right: 1px solid #EEF1F9;
      border-left: 1px solid #EEF1F9;
      //font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #333;
      height: 30px;
      text-align: center;
    };
    tr th{
      border-right: 1px solid #EEF1F9;
      border-left: 1px solid #EEF1F9;
      //font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #333;
      height: 30px;
    };
    .cuishoubody{
      tr:nth-of-type(2n-1){
        background: #fff;
      };
      tr:nth-of-type(2n){
        background: #F9FAFD;
      };
    };
    .cuishoufoot{
      tr td{
        font-size: 12px;
        color: #333;
        border-bottom: 1px solid #EEF1F9;
      }
    }
  };
  .cuishoubg3,.cuishoubg4{
    width: 300%;
  };
  .cuishoubg2{
    width: 350%;
  }


};
#getDetail,#getstaff,#getscase{
  margin-top: 20px;
};
.newTabls,.newTabls2,.newTabls3,.newTabls4{
  overflow: scroll;
  height: 468px;
}
/*.newTabls2{
  overflow: scroll;
  height: 468px;
}*/
.tableWrap{
  margin-top:0 ;
}
.people{
  border: 1px solid #D4D4D4;
  border-radius: 2px;
  /*width: 16%;*/
  height:42%;
};
#getstaff{
  height: 685px;
};
.noDate1{
  width: 300%;
  height: 300px;
  line-height: 300px;
  /*background-color: #0a87d7;*/
  position: relative;
  left: 315%;
  top:50px;
  text-align: center;
  /*background-color: #f5f5f5;*/
};
.noDate2{
  width: 300%;
  height: 300px;
  line-height: 300px;
  /*background-color: #0a87d7;*/
  position: relative;
  left: 340%;
  top:50px;
  text-align: center;
 /* background-color: #f5f5f5;*/
};
.noDate3{
  width: 300%;
  height: 300px;
  line-height: 300px;
  /*background-color: #0a87d7;*/
  position: relative;
  left: 370%;
  top:50px;
  text-align: center;

  //background: url("../../assets/images/nodata.png") no-repeat;
  /*background-color: #f5f5f5;*/
};
.noDate{
  width: 300%;
  height: 300px;
  line-height: 300px;
 /* background-color: #0a87d7;*/
  position: relative;
  left: 360%;
  top:50px;
  text-align: center;

  //background: url("../../assets/images/nodata.png") no-repeat;
  /*background-color: #f5f5f5;*/
};